# Data Types and Structures Questions

1. What are data structures, and why are they important?
-> data structures are specialized formats for organizing, storing, and accessing collections of data. They are important becausethey make programs faster, simplify data handling, improve searching, and save memory.

2. Explain the difference between mutable and immutable data types with examples.
-> Mutable>>can be changed after creation.ex. lists, sets, dictionary
    immutable>> cannot be changed after creation.ex.tuple, string

In [8]:
# mutable example
list1 = [1, 2, 3, 4]
list1[0] = 10
print(list1)

[10, 2, 3, 4]

In [10]:
# immutable example
tuple1 = (1, 2, 3, 4)
tuple[0] = 10
print(list)

TypeError: 'type' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
-> lists are mutable,so their elements can be changed, added, or removed after creation.
    tuples are immutable, so once created their values cannot be modified.
    list use square brackets [] while tuples use round brackets (). list are slightly slower but flexible, whereas tuples are faster and used for fixed data.

4. Describe how dictionaries store data.
-> dictionaries store data in key and value pairs. each key is linked to one value. the key helps to find value easily. this make searchimng faster compared to lists.

5. Why might you use a set instead of a list in Python?
-> we used a set when we want to store unique values, because a set does not allow duplicates. sets are also faster than lists for checking if an item is present.

6. What is a string in Python, and how is it different from a list?
-> A string is a sequence of characters and is immutable. 
   A list is a sequence of elements and is mutable.

7. How do tuples ensure data integrity in Python?
-> Tuples are immutable, so once data is stored, it cannot be modified. This ensures the data remains safe and unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a structure that stores data as key–value pairs using a hashing function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
-> Yes. A list can store different data types together. Example: [1, "ram", 2.5, True]

10. Explain why strings are immutable in Python.
->  Strings are immutable for reasons of security, memory efficiency, and so that they can be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
->  Dictionaries allow fast lookup by keys. 
    Lists require scanning each element to find a value.

12. Describe a scenario where using a tuple would be preferable over a list.
->  Sets automatically remove duplicate values and store only unique items.

13. How do sets handle duplicate values in Python?
->  When data should not change, such as storing coordinates (x, y) or fixed settings.

14. How does the “in” keyword work differently for lists and dictionaries?
->  For a list, 'in' checks whether a value exists. 
    For a dictionary, 'in' checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not.
->  No. Tuples are immutable, so their elements cannot be changed once created.

16. What is a nested dictionary, and give an example of its use case?
->  A dictionary inside another dictionary is called a nested dictionary.

In [6]:
# Example
student = { 1: {"name": "Sam", "age": 25}, 2: {"name": "durga", "age": 24}}
print(student)
print(student[1]["name"])
print(student[2]["age"])

{1: {'name': 'Sam', 'age': 25}, 2: {'name': 'durga', 'age': 24}}
Sam
24

17. Describe the time complexity of accessing elements in a dictionary.
->  in python accessing elements in a dictionary is O(1) on avarage, because dictioaries use hashing.
    in rare cases, it take O(n), but normally it is considered constant time.

18. In what situations are lists preferred over dictionaries?
-> When the order of elements matters. 
   When data does not need key–value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
->  Dictionaries are considered unordered because items are stored by hashing their keys, not by index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> In a list, data is accessed using an index numbers. 
   In a dictionary, Data is accessed using a key.

#  Practical Questions

In [7]:
# 1. Write a code to create a string with your name and print it.
name = "somnath"
print(name)

somnath

In [8]:
# 2. Write a code to find the length of the string "Hello World".
a = "Hello World"
print(len(a))

11

In [9]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming". 
s = "Python Programming"
print(s[:3])

Pyt

In [10]:
# 4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [11]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
f = "I like apple"
print(f.replace("apple", "orange"))

I like orange

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [13]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [14]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [16]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [17]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
num = [10, 20, 30, 40, 50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

In [18]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [19]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2 = ('red', 'green', 'blue', 'yellow')
print(t2[-2])

blue

In [21]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
print(min(num))

5

In [22]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
print(a.index("cat"))

1

In [23]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [24]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [25]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

In [26]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [27]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [28]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
c = {1, 2, 3}
d = {2, 3, 4}
print(c.intersection(d))

{2, 3}

In [30]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
s = {"name": 'somnath', "age": 25, "city": 'pune'}
print(s)

{'name': 'somnath', 'age': 25, 'city': 'pune'}

In [37]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
p = {'name': 'John', 'age': 25}
p["country"] = "USA"
print(p)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
r = {'name': 'Alice', 'age': 30}
print(r["name"])

Alice

In [38]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
x = {'name': 'Bob', 'age': 22, 'city': 'New York'}
x.pop("age")
print(x)

{'name': 'Bob', 'city': 'New York'}

In [39]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
c2 = {'name': 'Alice', 'city': 'Paris'}
print("city" in c2)

True

In [40]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [10, 20, 30, 40, 50]
tpl = ("a", "b", "c")
dic = {"mom", "dad","brother"}
print(lst, tpl, dic)

[10, 20, 30, 40, 50] ('a', 'b', 'c') {'mom', 'dad', 'brother'}

In [42]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[19, 28, 39, 42, 91]

In [43]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[17, 28, 43, 45, 100]

In [44]:
# 28. Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "cake", "juice", "mango", "tea"]
print(lst[3])

mango

In [45]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"dad": 50, "mom": 49}
dict2 = {"broter": 27, "sister": 23}
combined = {**dict1, **dict2}
print(combined)

{'dad': 50, 'mom': 49, 'broter': 27, 'sister': 23}

In [46]:
# 30. Write a code to convert a list of strings into a set.
s = ["apple", "banana", "kiwi", "banana", "mango", "mango"]
print(set(s))

{'apple', 'kiwi', 'mango', 'banana'}